<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles/default_style.css}">
  <title>Create Note</title>
</head>
<body>
<div th:replace="fragments :: pill-navigation"></div>
<fieldset th:if="${status == 'error'}">
  <legend>no! try again!</legend>
  <ul>
    <li th:each="error : ${note.errors}" th:text="${error}"></li>
  </ul>
</fieldset>
<fieldset>
  <legend>create new note, maggot!</legend>
  <form class="form-container" th:action="@{/create_note}" th:object="${note}" method="post">
    <input class="note-creator" type="text" placeholder="User Name" th:field="*{noteCreator}">
    <input class="note-title" type="text" placeholder="Title" th:field="*{noteTitle}">
    <textarea class="note-body" placeholder="Note Text" th:field="*{noteBody}"></textarea>
    <ul>
<!--      <li th:each="category : ${T(com.app.Enums.Categories).values()}"><input type="checkbox" th:value="${category.categoryName}" th:text="${category.categoryName}" th:field="*{categoriesArray}"></li>-->
      <li class="note-creation-category" th:each="category : ${T(com.app.Enums.Categories).values()}"><input type="checkbox" th:value="${category.categoryName}" th:text="${category.categoryName}" th:field="*{categoriesArray}"></li>
    </ul>
    <input class="note-submit" type="submit" value="Create!">
  </form>
</fieldset>
</body>
</html>