<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="pill-nav container" th:fragment="pill-navigation">
  <a class="active" href="http://localhost:8080/notes">Home</a>
  <a href="http://localhost:8080/create_note">create new note</a>
  <a href="http://localhost:8080/users">list all users</a>
  <a href="http://localhost:8080/register">register</a>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out">
  </form>
</div>
</body>
</html>