<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/default_style.css}">
    <title>Login Page</title>
</head>
<body>
<div th:replace="fragments :: pill-navigation"></div>
<fieldset th:if="${param.error}">
    <legend>try again!</legend>
    <ul>
        <li>Invalid username or password!</li>
    </ul>
</fieldset>
<fieldset th:if="${param.logout}">
    <legend>bye-bye!</legend>
    <ul>
        <li>You have been logged out!</li>
    </ul>
</fieldset>
<fieldset>
    <legend>sign in here, maggot!</legend>
    <form class="form-container" th:action="@{/login}" method="post">
        <input class="user-name" type="text" name="username" placeholder="enter your forgettable name here">
        <input class="user-password" type="password" name="password" placeholder="enter your forgettable random string here">
        <input class="user-submit" type="submit" value="Let me in!">
    </form>
</fieldset>
</body>
</html>