<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles/default_style.css}">
  <title>Create Note</title>
</head>
<body>
<div th:replace="fragments :: pill-navigation"></div>
<fieldset th:if="${status == 'error'}">
  <legend>try again!</legend>
  <ul>
    <li th:each="error : ${user.errors}" th:text="${error}"></li>
  </ul>
</fieldset>
<fieldset>
  <legend>register now, maggot!</legend>
  <form class="form-container" th:action="@{/register}" th:object="${user}" method="post">
    <input class="user-name" type="text" placeholder="what is your name, worm?" th:field="*{userName}">
    <input class="user-password" type="password" placeholder="forgettable random string" th:field="*{userPassword}">
    <input class="user-submit" type="submit" value="Execute!">
  </form>
</fieldset>
</body>
</html>