table, td, th{
    width: 800px;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    vertical-align: middle;
    height: 30px;
}
.note-creation-category {
    list-style-type: none;
    display: inline;
}
.category{
    border-radius: 4px;
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: lightblue;
    transition: transform .1s

    margin-right: 1px;
    margin-left: 1px;
}
.category:hover{
    transform: scale(1.5);
}
fieldset{
	border: 1px solid black;
    width: 800px;
    margin: auto;
}
input{
    text-align: right;
}
.form-container{
	display: grid;
	grid-gap: 7px;
	grid-template-columns: auto;
}
.note-creator, .note-title, .note-body,
.note-submit, user-name, user-password{
	border: 1px solid black;
}
.note-submit{
	text-align: center;
}
textarea{
	resize: vertical;
}
.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}

.pill-nav a.active {
    background-color: dodgerblue;
    color: white;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 10px auto;
    text-align: end;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
}